<div class="wrapper">
  <div class="page-header clear-filter" filter-color="orange">
    <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('assets/img/header.jpg');">

    </div>
      <div class="container">
          <div class="content-center brand">
              <img  sizes="500" src="assets/img/now-logo.png" alt="Image" >
              <h1 class="h1-seo">Ferreteria UCB</h1>
              <h3>Al alcance de todos.</h3>
          </div>
          
      </div>
  </div>

  <div class="main">
      <div class="section section-javascript" id="javascriptComponents" data-background-color="black">
          <div class="container">                                
              <div class="col text-center">
                  <a [routerLink]="['/examples/login']" class="btn btn-simple btn-round btn-white btn-lg">View Login Page</a>
              </div>
          </div>
      </div>
      <div class="section section-examples" data-background-color="black">
          <div class="space-50"></div>
          <div class="container text-center">
              <div class="row">
                  <div class="col">
                      <a [routerLink]="['/examples/landing']">
                          <img src="assets/img/landing.jpg" alt="Image" class="img-raised">
                      </a>
                      <a [routerLink]="['/examples/landing']" class="btn btn-simple btn-primary btn-round">View Landing Page</a>
                  </div>
                  <div class="col">
                      <a [routerLink]="['/examples/profile']">
                          <img src="assets/img/profile.jpg" alt="Image" class="img-raised">
                      </a>
                      <a [routerLink]="['/examples/profile']" class="btn btn-simple btn-primary btn-round">View Profile Page</a>
                  </div>
              </div>
          </div>
      </div>
      <div class="section section-download" id="#download-section" data-background-color="black">
          <div class="container">
              <div class="row justify-content-md-center">
                  <div class="text-center col-md-12 col-lg-8">
                      <h3 class="title">¿No sabes donde encontrarnos?</h3>
                      <h5 class="description">Nos ubicamos en la Av Hernando Siles esquina calle 2 de obrajes</h5>
                      <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d770.0263309977913!2d-68.11267593233735!3d-16.523428881333263!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sbo!4v1685337693502!5m2!1ses!2sbo" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </div>
                  <div class="text-center col-md-12 col-lg-8">
                      <a href="https://goo.gl/maps/a6xBebpT5aBvTXM96" class="btn btn-primary btn-lg btn-round" role="button">
                          Ubicacion
                      </a>
                      <a href="https://www.ucb.edu.bo/" target="_blank" class="btn btn-primary btn-lg btn-simple btn-round" role="button">
                          UCB
                      </a>
                  </div>
              </div>
              <br>
              <br>
              <br>
              <br>
              <br>
          </div>
      </div>
  </div>
  <footer class="footer footer-default">
    <div class="container">
        <nav>
            <ul>
                <li>
                    <a href="https://www.ucb.edu.bo/">
                        UCB
                    </a>
                </li>
                <li>
                    <a href="https://github.com/Ismaelolazo/FerreteriaUCB/tree/main">
                        Sobre nosotros
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright">
            &copy;
            {{data | date: 'yyyy'}}, Designed by
            <a href="https://github.com/Ismaelolazo/FerreteriaUCB/tree/main" target="_blank">Ismaelo</a>. Coded by
            <a href="https://github.com/Ismaelolazo/FerreteriaUCB/tree/main" target="_blank">Ismaelo</a>.
        </div>
    </div>
</footer>
</div>
